<div class="min-h-screen bg-gray-900 flex items-center justify-center ">
    <div class="text-center">
        <h1 class="text-4xl md:text-6xl lg:text-7xl font-bold text-white mb-4 animate-fade-in">The Art of Blogging: Unlock
            Your Creative Potential</h1>
        <p class="text-lg md:text-xl lg:text-2xl text-gray-400 animate-fade-in">Craft captivating stories, share
            knowledge, and leave your mark on the world.</p>
        <p class="mt-4 text-base md:text-lg lg:text-xl text-gray-500 animate-fade-in">Discover the transformative power of
            writing and connect with a global audience.</p>
    </div>
</div>
