<div class="bg-white shadow-md overflow-hidden">
  <img [src]="'https://picsum.photos/800/600?random=1' | image | async" loading="lazy"
       [alt]="post.title" class="h-48 w-full object-cover object-center">
  <div class="p-4">
    <h3 class="text-lg font-semibold text-gray-800">{{post.title}}</h3>
    <p class="text-gray-600 mt-2 truncate">{{post.content}}</p>
    <a href="#" class="text-blue-500 mt-4 inline-block">Read More</a>

    <div class="flex space-x-1">
        <span *ngFor="let topic of randomTopics"
              class="bg-gray-200 text-gray-800 p-0.5 text-xs">{{topic}}</span>
    </div>

  </div>
</div>
