<ng-container *ngIf="posts | async as posts; else loading ">
  <app-navbar></app-navbar>
  <app-heading></app-heading>

  <ng-container *ngFor="let topic of environment.topics">
    <div class="px-4 md:px-8 lg:px-16 py-8 md:py-12 lg:py-16">
      <h2 class="text-2xl font-bold mb-4">{{ topic }}</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <ng-container *ngFor="let post of posts.content">
          <app-card [post]="post"></app-card>
        </ng-container>
      </div>
    </div>
  </ng-container>


</ng-container>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
